{
    "presets": ["es2015"],
    "plugins": [
        "transform-runtime",
        "transform-object-rest-spread",
        "syntax-dynamic-import",
        ["import", {
            "libraryName": "iview",
            "libraryDirectory": "src/components"
        }]
    ]
}