/*********************************************************************
 * Created by deming-su on 2017/12/30
 *********************************************************************/
/* 公共样式 --start-- */
/*********************************************************************
 * Created by deming-su on 2017/12/30
 *********************************************************************/
/* 全局页面通用配置 ----start----*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-family: sans-serif;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  position: relative;
  height: 100%;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
body article,
body aside,
body details,
body figcaption,
body figure,
body footer,
body header,
body hgroup,
body main,
body menu,
body nav,
body section,
body summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
a {
  text-decoration: none ;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
/* 全局页面通用配置 ----end----*/
/* 滚动条样式重写 ---start--- */
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
  border-radius: 10px;
  z-index: 999;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: #fff;
  border-radius: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #5b5b5b;
}
/* 滚动条样式重写 ---end--- */
/* 重置整体应用容器样式 ---start--- */
.application-container {
  position: relative;
  width: 100%;
  height: 100%;
}
/* 重置整体应用容器样式 ---end--- */
/*********************************************************************
 * Created by deming-su on 2017/12/30
 *********************************************************************/
/* 通用颜色值定义 ---start--- */
/* 通用颜色值定义 ---end--- */
/* 通用样式方法 ---start--- */
/* 颜色属性 */
/* 背景色属性 */
/* border 属性 */
/* 边框属性 */
/* 触摸样式 */
/* 文字截断 */
.text-overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*transition动画函数定义*/
/* transform */
/*boxshadow样式函数*/
/* 倒角函数 */
/*透明度函数*/
/* 通用样式方法 ---end--- */
/* 所有页面布局样式 ---start--- */
.application-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.application-container > .navigator-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 8;
  transition: width .2s linear;
}
.application-container > .navigator-container.navigator-collapse {
  width: 180px;
}
.application-container > .navigator-container.navigator-small {
  width: 32px;
}
.application-container > .menu-container {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  width: 180px;
  z-index: 5;
  transition: width .2s linear;
}
.application-container > .menu-container.menu-collapse {
  width: 32px;
}
.application-container > .router-container {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 180px;
  z-index: 6;
  transition: all .2s linear;
}
.application-container > .router-container.full-screen {
  top: 0;
  left: 0;
}
.application-container > .router-container.menu-collapse {
  left: 32px;
}
.application-container > .router-container.navigator-collapse {
  top: 0;
}
.page-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 15px;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #F0F3F4;
  overflow-x: hidden;
  overflow-y: auto;
}
/* 所有页面布局样式 ---end--- */
/* 公共样式 --end-- */
/* 引入自定义页面样式文件 ---start--- */
/* 引入自定义页面样式文件 ---end--- */
