/*********************************************************************
 * less entrance file
 * Created by deming-su on 2017/12/30
 *********************************************************************/
/* 公共样式 --start-- */
/*********************************************************************
 * base style less file
 * Created by deming-su on 2017/12/30
 *********************************************************************/
/* 全局页面通用配置 ----start----*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Microsoft YaHei", "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-family: "Microsoft YaHei", "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  position: relative;
  height: 100%;
  margin: 0;
  font-family: "Microsoft YaHei", "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
  font-size: 10px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
body article,
body aside,
body details,
body figcaption,
body figure,
body footer,
body header,
body hgroup,
body main,
body menu,
body nav,
body section,
body summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
a {
  text-decoration: none ;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* 全局页面通用配置 ----end----*/
/* 滚动条样式重写 ---start--- */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
  border-radius: 10px;
  z-index: 999;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: #fff;
  border-radius: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #5b5b5b;
}
/* 滚动条样式重写 ---end--- */
/*********************************************************************
 * base style less file
 * Created by deming-su on 2017/12/30
 *********************************************************************/
/* 整体背景样式 ---start--- */
.application-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* 整体背景样式 ---end--- */
/* 通用颜色值定义 ---start--- */
/* 按钮相关颜色 */
/* 输入框禁用 */
/*警告框相关颜色*/
/* 通用颜色值定义 ---end--- */
/* 屏幕media query宽度 ---start--- */
/* 屏幕media query宽度 ---end--- */
/* 通用样式方法 ---start--- */
/* 背景色属性 */
/* border 属性 */
/* 触摸样式 */
/* 文字截断 */
/*transition动画函数定义*/
/* transform */
/*boxshadow样式函数*/
/* 倒角函数 */
/*透明度函数*/
/*字体库设置*/
/*清浮动*/
/* 通用样式方法 ---end--- */
/*********************************************************************
 * project private components less file
 * Created by deming-su on 2017/12/30
 *********************************************************************/
/* 加载样式 ---start--- */
/*自定义样式区域*/
/* 加载样式 ---end--- */
/* 公共样式 --end-- */
/* 用户自定义通用样式 --start-- */
/*********************************************************************
 * login style less file
 * Created by deming-su on 2017/12/30
 *********************************************************************/
/* Login component 样式 ---start---*/
.login-view {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(/static/./images/login-bg.jpg?381471720b0091bb92154872b3ffbb97);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.login-view > .login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 340px;
  height: 340px;
  padding: 20px 25px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.login-view > .login-container .title {
  height: 36px;
  line-height: 36px;
  font-size: 18px;
  font-weight: 400;
  color: #373d41;
}
.login-view > .login-container .button {
  display: block;
  height: 40px;
  line-height: 40px;
  background: #00c1de;
  border-color: #00c1de;
  font-size: 14px;
  border-radius: 0;
  font-weight: 700;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 1px #ebe7e6;
  -moz-box-shadow: 0 1px 1px #ebe7e6;
  -ms-box-shadow: 0 1px 1px #ebe7e6;
  -o-box-shadow: 0 1px 1px #ebe7e6;
  box-shadow: 0 1px 1px #ebe7e6;
}
.login-view > .login-container .login-content {
  margin-top: 36px;
}
.login-view > .login-container .login-content .form-widget + .form-widget {
  margin-top: 20px;
}
.login-view > .login-container .login-content .form-widget .label {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}
.login-view > .login-container .checkbox {
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  overflow: hidden;
  border: 1px solid #dcdcdc;
  background-color: #fff;
  cursor: pointer;
}
.login-view > .login-container .checkbox.checked {
  background-color: #00c1de;
  border-color: #00c1de;
}
.login-view > .login-container .checkbox:before {
  content: "";
  position: absolute;
  left: 4px;
  top: -1px;
  width: 8px;
  height: 14px;
  background-color: transparent;
  border: 2px solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.login-view > .login-container input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  background: #FFF;
  border: 1px solid #D7D8D9;
  outline: 0;
}
/* Login component 样式 ---end---*/
/*********************************************************************
 * project private common style less file
 * Created by deming-su on 2017/12/30
 *********************************************************************/
/* 项目布局 ---start--- */
/* 项目布局 ---end--- */
/* 导航样式 ---start--- */
.navigator-container > .container {
  position: relative;
  height: 80px;
}
/* 导航样式 ---end--- */
/*********************************************************************
 * project private common media style less file
 * Created by deming-su on 2017/12/30
 *********************************************************************/
/* 导航样式 ---start--- */
@media (max-width: 1600px) {
  .navigator-container > .container {
    height: 66.66666667px;
  }
}
/* 导航样式 ---end--- */
/* 用户自定义通用样式 --end-- */
