/*********************************************************************
 * home style less file
 * Created by deming-su on 2017/12/30
 *********************************************************************/

.home-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  .bg-color(@bg-hover-primary);
}